.external-storage-container {
  width: 800px;
  height: 480px;
  margin: 0 auto;
  overflow: hidden;
  background: linear-gradient(to bottom, 
    rgba(0, 0, 0, .6),
    rgba(0, 0, 0, .9),
    rgba(0, 0, 0, 1));
}