.btn {
  padding: 10px;
  width: 160px;
  height: 56px;
  font-size: 18px;
  font-weight: bold;
  background-color: orange;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: all .1s ease;
  text-align: center;
}

.btn:not(:last-child) {
  margin-right: 20px;
}

.btn:active {
  outline: none;
}

.btn--danger {
  background: red;
}

.btn--disable {
  background: gray;
  cursor: none;
}

.btn--control {
  width: 150px;
  padding: 6px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 3px;
  outline: none;
}

.btn--control:not(:last-child) {
  margin-right: 10px;
}

.btn--green {
  background-color: #01b901;
}

.active {
  background-color: orange;
}