.z-container {
  width: 40%;
}

.z-controls {
  margin: 30px auto;
  padding: 20px 60px;
  background: #3a3a3a;
  clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
}

.z-container button {
  margin: 5px;
}

.z-container button:active {
  transform: translateY(2px);
}