.manual-control-container {
  width: 800px;
  height: 480px;
  overflow: hidden;
  background: linear-gradient(to bottom, 
    rgba(0, 0, 0, .6),
    rgba(0, 0, 0, .9),
    rgba(0, 0, 0, 1));
}

.nav-heading {
  line-height: 56px;
  vertical-align: middle;
  letter-spacing: 1px;
  font-size: 20px;
}

.control-area {
  height: 424px;
}