.modal {
  position: absolute;
  width: 400px;
  height: 200px;
  background: white;
  border-radius: 10px;
  z-index: 300;
  text-align: center;
  transition: all .2s ease;
  color: black !important;
  letter-spacing: 0 !important;
}

.modal-open {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
  transition-delay: .2s;
}

.modal-close {
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  visibility: hidden;
}

.filename {
  font-size: 30px;
  padding: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.question {
  font-size: 20px;
  padding: 10px;
}

.action-btns {
  padding: 5px;
}