.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 200;
  transition: all .2s ease;
}

.backdrop-open {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.backdrop-close {
  opacity: 0;
  visibility: hidden;
  transition-delay: .3s;
  /* top: -100vh; */
}