.percent-container {
  width: 90%;
  height: 424px;
  align-items: center;
}

.overall-progress-area {
  flex: 1;
  padding: 0 20px;
  text-align: center;
}

.heating-up-msg {
  font-size: 25px;
  margin-bottom: 20px;
  transition: opacity .5s ease;
  animation: blink .7s ease-in-out infinite;
}

@keyframes blink {
  0% {
    opacity: .4;
  }

  100% {
    opacity: 1;
  }
}

.tools-progress-area {
  width: 80%;
  padding: 0 40px;
}

.preheat-progress {
  width: 200px;
  height: 200px;
  margin-bottom: 40px;
}