.nav-bar {
  width: 100%;
  height: 56px;
  padding: 10px 20px;
  background-color: black;
  color: white;
}

.current-state {
  flex: 1;
  line-height: 36px;
  vertical-align: middle;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 300;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.shutdown-btn {
  background: red;
  border-radius: 10px;
  transition: all .2s ease;
}

.shutdown-btn:active {
  transform: scale(.9);
}