* {
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: sans-serif;
  background-color: white;
  padding: 0;
  margin: 0;
  /* cursor: none; */
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.alert-text {
  color: orangered;
  font-weight: bold;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.printing-container {
  width: 800px;
  height: 480px;
  margin: 0 auto;
  background: linear-gradient(to bottom, white, white, skyblue, white);
}